@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

h1 {
    text-align: center;
    border-bottom: 1px #666 solid;
    margin-bottom: 50px;
}

.parent {
    height: 100vh;
    display: flex;
    /* flex-direction: column-reverse;  */
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
    /* align-content: flex-end; */
    color: #ccc;
}

#child1 {
    width: 150px;
    height: 150px;
    background-color: #eb3b5a;
    /* order: 0 */
    flex-grow: 2;
}

span {
    display: none;
}

#child2 {
    width: 150px;
    height: 150px;
    background-color: #2d98da;
    /* order: 2 */
    flex-grow: 1;
}

#child3 {
    width: 150px;
    height: 150px;
    background-color: #0fb9b1;
    /* order: 1 */
}

/* #child4 {
    width: 150px;
    height: 150px;
    background-color: #fa8231;
}

#child5 {
    width: 150px;
    height: 150px;
    background-color: #8854d0;
} */