*{
    margin: 0;
    padding: 0;
}

section > nav{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    color: rgba(58, 58, 58, 1);

    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0px;

    gap: 50%;
    margin: 1vw;
}

section > nav > h3{

    
    color: rgba(58, 58, 58, 1);

    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
}

section > nav > ul{
    text-decoration: none;
    display: inline;
    padding: 20px;
    font-size: 20px;
}

section > nav > ul > li{
    display: inline;
    padding: 20px;
    font-size: 20px;
}

section > nav > ul > li a {
    text-decoration: none;
    color: inherit;
}

#home-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

#home-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

#home-text > h1{
    /* Start your Journey as Influencer */
    width: 582px;
    height: 133px;

    color: rgba(58, 58, 58, 1);

    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
}

#home-text > p{
    color: rgba(58, 58, 58, 1);

    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
}

#home-text > button{

    /* Frame 67 */
    width: 196px;
    height: 44px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8;
    padding: 10px 24px 10px 24px;

    cursor: pointer;

    border-radius: 41px;
    background: rgba(224, 44, 109, 1);

    color: rgba(255, 255, 255, 1);

    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;

    border: none;
}


#home-image{
    /* unsplash:InK0X-GDjrQ */
    width: 30vw;
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(128, 128, 128, 0.24);
    border-radius: 50%;
}
#main-camera{
    width: 500px;
    height: auto;
    z-index: 2;
}

#bg-circle{
    width: 350px;
    height: 350px;
    background: rgba(128, 128, 128, 0.24);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}



#Brands{
    margin: 3vh 0 3vh 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.border{
    height: 1px;
    background: linear-gradient(135.29deg, rgba(192, 204, 218, 0.1),rgba(192, 204, 218, 0.6) 50%,rgba(192, 204, 218, 0.1) 100%);
}

#Products{
    margin: 10vh 0 10vh 0;

    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#Products-Title{
    color: rgba(58, 58, 58, 1);

    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;

    margin-bottom: 3vh;
}

.layers{
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
    margin: 3vh 0 3vh 0;
}

.cards{
    width: 20vw;
    height: auto;

    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    gap: 2vh;

    padding: 1vw;
}

.cards img{
    width: 100%;
    height: auto;

}

.Cards-Caption > h3{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}

.Cards-Caption p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1.8%;
    text-align: left;
}

#Button{
    display: flex;
    align-self: self-end;
    justify-content: center;

    margin: 3vh 12vw 3vh 0;

    /* Group 33086 */
    width: auto;
    height: 24px;
    color: rgba(224, 44, 109, 0.87);

    font-family: Poppins;

    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: right;
}